In [75]:
import requests
url = ('https://newsapi.org/v2/everything?'
       'sources=the-hindu&'
       'q=convicted murder&'
       'from=2000-01-16&'
       'sortBy=popularity&'
       'apiKey=82d395d62df649c7908dd28d35e91f5e')
data = requests.get(url)

In [80]:
import pandas as pd
df = pd.DataFrame(data.json())
df.tail()

                                            articles status  totalResults
0  {u'description': u'TG : Seven of the 10 execut...     ok             4
1  {u'description': u'A Libyan militant was convi...     ok             4
2  {u'description': u'An airman who stabbed anoth...     ok             4
3  {u'description': u'The former U.S. base worker...     ok             4

In [78]:
df['articles'][19]

{u'author': u'Ashok Kumar',
 u'description': u'The Board rules on the application of the victim\u2019s father, says the juvenile delinquent would be produced before the sessions court on December 22.',
 u'publishedAt': u'2017-12-20T08:42:27Z',
 u'source': {u'id': u'the-hindu', u'name': u'The Hindu'},
 u'title': u'Ryan school murder: Juvenile accused to be tried as an adult',
 u'url': u'http://www.thehindu.com/news/national/other-states/ryan-school-murder-juvenile-accused-to-be-tried-as-an-adult/article22023520.ece',
 u'urlToImage': u'http://www.thehindu.com/news/national/other-states/article22023518.ece/ALTERNATES/LANDSCAPE_615/RYANJUVENILE'}

In [81]:
import requests
url = ('https://newsapi.org/v2/everything?'
       'sources=google-news-in&'
       'q=convicted murder&'
       'from=2000-01-16&'
       'sortBy=popularity&'
       'apiKey=82d395d62df649c7908dd28d35e91f5e')
data = requests.get(url)
import pandas as pd
df = pd.DataFrame(data.json())
df.tail()

                                            articles status  totalResults
0  {u'description': u'TG : Seven of the 10 execut...     ok             4
1  {u'description': u'A Libyan militant was convi...     ok             4
2  {u'description': u'An airman who stabbed anoth...     ok             4
3  {u'description': u'The former U.S. base worker...     ok             4

In [82]:
import requests
url = ('https://newsapi.org/v2/everything?'
       'sources=the-times-of-india&'
       'q=convicted murder&'
       'from=2000-01-16&'
       'sortBy=popularity&'
       'apiKey=82d395d62df649c7908dd28d35e91f5e')
data = requests.get(url)
import pandas as pd
df = pd.DataFrame(data.json())
df.tail()

                                             articles status  totalResults
15  {u'description': u'UP registered 14.5 per cent...     ok            63
16  {u'description': u'The court also observed tha...     ok            63
17  {u'description': u'A bench comprising Chief Ju...     ok            63
18  {u'description': u'The review petition by conv...     ok            63
19  {u'description': u'The high court had also cas...     ok            63